.container {
    height: 100vh;
}

.content {
    background-color: #fff;
    padding: 24px;
    margin: 24px;
    border: solid 4px bisque;

}

.menu {
    border-bottom: solid 4px bisque;
    padding-top: 10px;
    background-color: none;
}

.menuLink {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: larger;
    font: bolder;
}

.menuLink:hover {
    color: bisque;
}

.textBlack {
    color: black;
}